<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>

<body>

<h2>Welcome, {{ username }}</h2>

<h3>Summary</h3>
<p>Income: ₹{{ income }}</p>
<p>Expense: ₹{{ total_expense }}</p>
<p>Balance: ₹{{ balance }}</p>

<h3>Add Income</h3>
<form method="POST" action="/add_income">
    <input type="number" name="amount" required>
    <button>Add Income</button>
</form>

<h3>Add Expense</h3>
<form method="POST" action="/add_expense">
    <select name="category">
        <option>Food</option>
        <option>Transport</option>
        <option>Shopping</option>
        <option>Entertainment</option>
    </select>
    <input type="number" name="amount" required>
    <button>Add Expense</button>
</form>

<h3>History</h3>
<ul>
{% for item in expenses %}
    <li>
        {{ item.category }} - ₹{{ item.amount }}
        <a href="/delete/{{ loop.index0 }}">Delete</a>
    </li>
{% endfor %}
</ul>

<br>
<a href="/logout">Logout</a>

</body>
</html>
